Страница магазина - здесь скоро будут картинки продуктов.
по нажатию на картинку они будут добавляться в продукты заказа
чуть позже сделаю корзину
<h1> Предлагаю вам попереключаться по вкладкам мною представленных </h1>
 На данный момент готова только Products 

Проект был реализован изначально на Ado. Но когда захотелось чуть больше свободы и связей 
сразу начал делать на Entity Framework

Интересно, но оказывается миграции могут вообще сломать к чертям удаленную базу данных :)